# files exported from CAD
*.stl
*.pdf
*.pdf_tex

# FreeCAD working copies and backups
*.FCStd1
*.FCBak

# KiCAD lockfile and backups
*.lck
*.zip

# Sliced gcode for 3d printer
*.gcode

# Special cases
## 3d models from orig project
!Landscape/Streckenelemente/*.stl